
/* Removing Browser styling */

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* General outer container for home page*/

.outer-container{
    background-color: rgb(0, 0, 27);
    width: 100%;
}

.first-container{
    height: 100vh;
    width: 100%;
    padding: 20px 20px 40px 20px;
}

.carosel-cards-container{
    padding: 80px 0px 0px 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 15px;
}

.carosel-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    border-radius: 15px;
}

.card-right-content{
    height: 100%;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.sphere-bg{
    background-color: green;
}

.card-left-content{
    height: 100%;
    width: 100%;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.card-1{
    background: radial-gradient(#5C5470, #424769);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card-2{
    background-color: #424769;
}

.card-3{
    background-color: #344955;
}

.card-4{
    background-color: #435B66;
}

.card-5{
    background-color: #19376D;
}

/* Second Container */

.second-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.second-container-card{
    background: linear-gradient(0deg, rgb(0, 0, 27) 0%, rgba(39,17,112,1) 25%, rgba(74,57,153,1) 50%, rgba(114,98,184,1) 75%, rgba(198,190,238,1) 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 840px){
    .card-right-content{
        display: none;
    }
}